@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
  html {
    font-family: "Spline Sans", Poppin, sans-serif;
    width: 100%;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #f5f5ed;
    color: #161613;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: antialiased;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #f9d907;
    height: 29px;
    width: 29px;
    border-radius: 14px;
    border: 7px solid #3a2adc;
  }
  input[type="text"]:focus {
    outline: none;
    outline-width: 0;
  }
  input[type="text"]::-webkit-input-placeholder {
    color: #3a2adc;
  }
}
